include header.pug

div(class="container page")
    h1(class="mb-0") Mon point fait-il partie du domaine de Mandelbrot ?
    br
    br
    form
        div(class="form-group row")
            div(class="form-group col-md-6")
                label(for="inputEmail4") Partie réelle
                input(type="number",name="ptsRight" class="form-control", value= 0, id='real', step=0.1)

            div(class="form-group col-md-6")
                label(for="inputPassword4") Partie imaginaire
                input(type="number",name ="ptsWrong" class="form-control", value=0, id='imag', step=0.1)
            
            div(class="form-group col-md-6")
                label(for="inputPassword4") Nombre d'ittérations
                input(type="number",name="ptsAbs", class="form-control",value=1000, min=1, max= 100000, id='itt')
            
            div
                br
            button(type="button", class="btn btn-success",id='submitButton') Soumettre
            
            div
                br
            div(class="success alert-success mt-2" role="success" id='responseDiv')
        

script(defer src="http://localhost:3000/socket.io/socket.io.js")
script(defer src='/javascript/clientSocket.js')
