include header.pug

div(class="container page")
    h1(class="mb-0") Construction d'une partie du domaine de Mandelbrot ?
    br
    br
    form
        h3 Calculs
        div(class="form-group row")
            div(class="form-group col-md-6")
                label(for="inputEmail4") De
                input(type="number", class="form-control", value= 0, id='realFrom' step=0.1)

            div(class="form-group col-md-6")
                label(for="inputPassword4") A
                input(type="number", class="form-control", value=0, id='realTo' step=0.1)
        
            
            div
                br
            button(type="button", class="btn btn-success",id='submitButton') Soumettre
            
            div
                br
            canvas(id='canvas' ,width="250", height="250",style=" border: 2px solid black")
            //- w, h ==> number of pixels

        
script(defer src="http://localhost:3000/socket.io/socket.io.js")
script(defer src='/javascript/createCanva.js')